<h2>Disk Space Usage</h2>
<table class="table table-bordered table-hover">
  <thead>
    <tr>
      <th>Node</th>
      <th>Used</th>
      <th>Capacity</th>
      <th>Usage %</th>
    </tr>
  </thead>
  <tbody>
    <% @disks.each do |disk| %>
      <tr class="active">
        <td><%= disk["node"] %></td>
        <td><%= disk["used"] %></td>
        <td><%= disk["capacity"] %></td>
        <td><%= "%" + "%.2f" % (100 * disk["used"].to_f / disk["capacity"].to_f) %></td>
      </tr>
    <% end %>
    <tr class="total success">
      <td>Total: </td>
      <td><%= @disks.map { |d| d["used"].to_i}.sum %></td>
      <td><%= @disks.map { |d| d["capacity"].to_i}.sum %></td>
      <td><%= "%" + "%.2f" % (100 * @disks.map { |d| d["used"].to_f}.sum / @disks.map { |d| d["capacity"].to_f}.sum)  %></td>
    </tr>
  </tbody>
</table>
