<h2 name="queries" id="queries">Queries</h2>

<% if @queries.present? %>
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>Query</th>
    </tr>
    <% @queries.each do |row| %>
      <tr>
        <td><%= row['username'] %> <small>(<%= row['user_id'] %>)</small></td>
        <td><%= row['status'] %></td>
        <td><%= row['start_time'] %></td>
        <td><%= row['duration'] %></td>
        <td><%= row['query'] %></td>
      </tr >
    <% end %>
  </table>
<% else %>
  <h3>That's weird, there don't appear to be any queries running.</h3>
<% end %>
