<h2 name="queries" id="queries">Queries</h2>

<% if @queries.present? %>
  <table class="table table-striped">
    <tr>
      <th>User</th>
      <th>Status</th>
      <th>Start time</th>
      <th>Duration</th>
      <th>PID</th>
      <th>Query</th>
    </tr>
    <% @queries.each do |row| %>
      <tr>
        <td><%= row['username'] %> <small>(<%= row['user_id'] %>)</small></td>
        <td>
          <% if row['status'] =~ /Done/ %>
            <span class="label label-success">Done</span>
          <% #elsif row['duration'].to_i < 0 %>
            <% #<span class="label label-warning">Cancelled?</span> %>
          <% else %>
            <span class="label label-default"><%= row['status'] %></span>
          <% end %>
        </td>
        <td><%= row['start_time'] %></td>
        <td><%= row['duration'] %>s</td>
        <td><%= row['pid'].to_i < 0 ? 'n/a' :  row['pid'] %></td>
        <td><%= CodeRay.scan(row['query'].rstrip.lstrip, :sql).div()  %></td>
      </tr >
    <% end %>
  </table>
<% else %>
  <h3>That's weird, there don't appear to be any queries running.</h3>
<% end %>
