<!-- TODO add analyze and vacuum option -->

<div style="overflow: auto;">
  <div style="float: left;"><h2 name="tables" id="tables">Tables <small class="secondary">(last update: <span id="last_update" class="abs_rel"></span>)</small></h2></div>
  <span id="last_update_store" style="display: none;"><%= (@updated.nil? ? 0 : @updated.utc.to_i) %></span>
  <div style="float: right;">
    <button type="button" class="btn btn-primary btn-default" style="margin-top: 25px;" id="update_all_tables">
      Check for new tables now
    </button>
    <%= img '/images/ajax-loader.gif', id: "update_all_tables_loading", height: '25px', style: 'padding: 0 15px; margin-top: 25px; margin-left: 5px; display: none;' %>
    <button type="button" class="btn btn-primary btn-default" data-toggle="modal" data-target="#export_structure_modal" style="margin-top: 25px;">
      Export all table schemas
    </button>
  </div>
</div>

<!-- Export Structure Modal -->
<div class="modal fade" id="export_structure_modal" tabindex="-1" role="dialog" aria-labelledby="exportStructureLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form class="form-horizontal" role="form" method="POST" action="<%= url '/tables/structure_export' %>" style="margin-top: 10px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="exportStructureLabel">Export the schema of all tables</h4>
        </div>
        <div class="modal-body">
          <div id="error_alert" class="alert alert-danger" role="alert" style="display: none;"></div>
          This might take a while (a couple of minutes). We'll send you an E-Mail once we're done.<br />
          This doesn't support primary/foreign or unique constraints which span over multiple columns currently and will only export the first column. Be aware, if you have tables like that!
          <div class="form-group">
            <label for="inputEmail" class="col-sm-5 control-label">Optional additional E-Mails<br /><small>(comma-separated)</small></label>
            <div class="col-sm-5">
              <input type="text" class="form-control" id="inputEmail" name="email" placeholder="me@example.com" value="">
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-primary" id="schema_export_submit">Start</button><%= img '/images/ajax-loader.gif', id: "schema_export_loading", height: '25px', style: 'padding: 0 15px; margin-left: 5px; display: none;' %>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Archive Modal -->
<div class="modal fade" id="archive_modal" tabindex="-1" role="dialog" aria-labelledby="archiveLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="archiveForm" class="form-horizontal" role="form" method="POST" action="<%= url '/tables/archive' %>" style="margin-top: 10px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="archiveLabel">Archive Table</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-danger" role="alert">
            <p><strong>WARNING: </strong>Archiving will move the data into S3 and drop the database table!
            Archiving currently does NOT support tables with constraints or foreign keys!</p>
          </div>
          <div class="form-group">
            <label for="archiveInputSchema" class="col-sm-4 control-label">Schema Name:</label>
            <div class="col-sm-8">
              <input readonly type="text" id="archiveInputSchema" name="schema" value="ERROR: SCHEMA NAME NOT FOUND" class="form-control">
            </div>
            <label for="archiveInputTable" class="col-sm-4 control-label">Table Name:</label>
            <div class="col-sm-8">
              <input readonly type="text" id="archiveInputTable" name="table" value="ERROR: TABLE NAME NOT FOUND" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="inputRedshiftUsername" class="col-sm-4 control-label">Redshift Username:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="archiveInputRedshiftUsername" name="redshift_username" placeholder="Username">
            </div>
            <label for="inputRedshiftPassword" class="col-sm-4 control-label">Redshift Password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="archiveInputRedshiftPassword" name="redshift_password" placeholder="*Password is not saved*">
            </div>
          </div>
          <div class="form-group">
            <label for="inputEmail" class="col-sm-4 control-label">Additional Emails:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="archiveInputEmail" name="email" placeholder="me@example.com, you@example.com" value="">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="panel-title" data-toggle="collapse" href="#archiveAdvancedOptions">Advanced Options:</a>
            </div>
            <div class="panel-collapse collapse panel-body" id="archiveAdvancedOptions">
              <div class="form-group">
                <label for="archiveInputArchiveBucket" class="col-sm-4 control-label">Archive Bucket:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="archiveInputArchiveBucket" name="bucket" placeholder="*Using default bucket*">
                </div>
                <label for="archiveInputArchivePrefix" class="col-sm-4 control-label">Archive Prefix:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="archiveInputArchivePrefix" name="prefix" placeholder="*Using default prefix*">
                </div>
              </div>
              <div class="form-group">
                <label for="archiveInputAccessKey" class="col-sm-4 control-label">AWS Access Key:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="archiveInputAccessKey" name="access_key" placeholder="*Using default AWS access key*">
                </div>
                <label for="archiveInputSecretKey" class="col-sm-4 control-label">AWS Secret Key:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="archiveInputSecretKey" name="secret_key" placeholder="*Using default AWS secret key*">
                </div>
              </div>
              <div class="form-group">
                <label for="inputSkipDrop" class="col-sm-4 control-label">Preserve Redshift Table:</label>
                <div class="col-sm-3 checkbox">
                  <input type="checkbox" id="inputSkipDrop" style="margin-left: 0;" name="skip_drop" value="true">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-danger" id="archive_submit">Archive</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Restore Modal -->
<div class="modal fade" id="restore_modal" tabindex="-1" role="dialog" aria-labelledby="restoreLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <form id="restoreForm" class="form-horizontal" role="form" method="POST" action="<%= url '/tables/restore' %>" style="margin-top: 10px;">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title" id="restoreLabel">Restore Table</h4>
        </div>
        <div class="modal-body">
          <div class="alert alert-info" role="alert">
            <p><strong>NOTE: </strong>Restoring will recreate the original table and and its archived data.</p>
          </div>
          <div class="form-group">
            <label for="restoreInputSchema" class="col-sm-4 control-label">Schema Name:</label>
            <div class="col-sm-8">
              <input readonly type="text" id="restoreInputSchema" name="schema" value="ERROR: SCHEMA NAME NOT FOUND" class="form-control">
            </div>
            <label for="restoreInputTable" class="col-sm-4 control-label">Table Name:</label>
            <div class="col-sm-8">
              <input readonly type="text" id="restoreInputTable" name="table" value="ERROR: TABLE NAME NOT FOUND" class="form-control">
            </div>
          </div>
          <div class="form-group">
            <label for="restoreInputRedshiftUsername" class="col-sm-4 control-label">Redshift Username:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="restoreInputRedshiftUsername" name="redshift_username" placeholder="Username">
            </div>
            <label for="restoreInputRedshiftPassword" class="col-sm-4 control-label">Redshift Password:</label>
            <div class="col-sm-8">
              <input type="password" class="form-control" id="restoreInputRedshiftPassword" name="redshift_password" placeholder="*Password is not saved*">
            </div>
          </div>
          <div class="form-group">
            <label for="restoreInputEmail" class="col-sm-4 control-label">Additional Emails:</label>
            <div class="col-sm-8">
              <input type="text" class="form-control" id="restoreInputEmail" name="email" placeholder="me@example.com, you@example.com" value="">
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading">
              <a class="panel-title" data-toggle="collapse" href="#restoreAdvancedOptions">Advanced Options:</a>
            </div>
            <div class="panel-collapse collapse panel-body" id="restoreAdvancedOptions">
              <div class="form-group">
                <label for="restoreInputArchiveBucket" class="col-sm-4 control-label">Archive Bucket:</label>
                <div class="col-sm-8">
                  <input readonly type="text" class="form-control" id="restoreInputArchiveBucket">
                </div>
                <label for="restoreInputArchivePrefix" class="col-sm-4 control-label">Archive Prefix:</label>
                <div class="col-sm-8">
                  <input readonly type="text" class="form-control" id="restoreInputArchivePrefix">
                </div>
              </div>
              <div class="form-group">
                <label for="restoreInputAccessKey" class="col-sm-4 control-label">AWS Access Key:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="restoreInputAccessKey" name="access_key" placeholder="*Using default AWS access key*">
                </div>
                <label for="restoreInputSecretKey" class="col-sm-4 control-label">AWS Secret Key:</label>
                <div class="col-sm-8">
                  <input type="text" class="form-control" id="restoreInputSecretKey" name="secret_key" placeholder="*Using default AWS secret key*">
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          <button type="submit" class="btn btn-success" id="restore_submit">Restore</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Redshift and Archived tables -->
<ul class="nav nav-tabs">
  <li class="active"><a data-toggle="tab" href="#redshift_tables">Redshift Tables</a></li>
  <li><a data-toggle="tab" href="#archived_tables">Archived Tables</a></li>
</ul>

<div class="tab-content">
  <div id="redshift_tables" class="tab-pane fade in active">
    <table id="tablereports" data-auto="true" style="display: none;" class="table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th>Schema</th>
        <th>Table <small class="secondary">(table ID)</small></th>
        <th>Size in GB</th>
        <th>Sort Keys</th>
        <th>Distribution</th>
        <th>Column Encoding</th>
        <th>% Skew Across Slices <small class="secondary">(lower better)</small></th>
        <th>% Slices Populated <small class="secondary">(higher better)</small></th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <% @tables.each_with_index do |row, i| %>
          <tr>
            <td><%= row['schema_name'] %></td>
            <td><%= row['table_name'] %> <small class="secondary">(<%=row['table_id']%>)</small></td>
            <td nowrap="nowrap"><%= (row['size_in_mb'].to_i / 1024.0).round(2) %></td>
            <td>
              <% if row['sort_keys'].present? %>
                  <%= row['sort_keys'].collect{|k|
                    "<span class='label label-#{(k == row['sort_keys'].first ? 'primary' : 'info')}'>#{k}</span>"
                  }.join('<br />') %>
              <% else %>
                  <span class="label label-danger">None!</span>
              <% end %>
            </td>
            <td>
              <% if row['dist_key'].present? %>
                  <% if row['dist_key'] == row['sort_keys'].first %>
                      <span class='label label-primary'><%= h row['dist_key'] %></span>
                  <% else %>
                      <span class='label label-default'><%= h row['dist_key'] %></span>
                  <% end %>
              <% else %>
                  <% if row['dist_style'].present? %>
                      <span class='label label-info'><%= h row['dist_style'] %> distribution</span>
                  <% else %>
                      <span class="label label-danger">unknown distribution</span>
                  <% end %>
              <% end %>
              <br />
            </td>
            <td>
              <% if row['has_col_encodings'] %>
                  <span class='label label-success'>Yes</span>
              <% else %>
                  <span class="label label-danger">No</span>
              <% end %>
            </td>
            <td>
      <span class='label label-<%= row['pct_skew_across_slices'].to_f > 100.0 ? 'danger' : 'success' %>'><%=
          h row['pct_skew_across_slices'].round(2) %>%</span>
            </td>
            <td>
      <span class='label label-<%= row['pct_slices_populated'].to_f < 50.0 ? 'danger' : 'success' %>'>
    <%= h row['pct_slices_populated'].round(2) %>%</span></td>
            <td class="text-center">
              <button id="update_button_<%= i %>" type="button" data-id="<%= i %>" data-schema-name="<%= row['schema_name'] %>" data-table-name="<%= row['table_name'] %>" class="tbl-update btn btn-info btn-xs">Refresh</button>
              <%= img '/images/ajax-loader.gif', id: "loading_img_#{i}", height: '25px', style: 'display: none;' %>
              <button type="button" id="archive_button_<%= i %>" class="btn btn-primary btn-danger btn-xs" data-toggle="modal" data-target="#archive_modal" data-schema-name="<%= row['schema_name'] %>" data-table-name="<%= row['table_name'] %>">Archive</button>
            </td>
          </tr >
      <% end %>
      </tbody>
    </table>
  </div>

  <div id="archived_tables" class="tab-pane fade in">
    <table id="tablearchives" data-auto="true" style="display: none;" class="table table-bordered table-striped table-condensed table-hover">
      <thead>
      <tr>
        <th>Schema</th>
        <th>Table</th>
        <th>Size in GB</th>
        <th>Sort Keys</th>
        <th>Distribution</th>
        <th>Column Encoding</th>
        <th>Archive Date</th>
        <th class="text-center"></th>
      </tr>
      </thead>
      <tbody>
      <% @archives.each_with_index do |row, i| %>
          <tr>
            <td><%= row['schema_name'] %></td>
            <td><%= row['table_name'] %></td>
            <td nowrap="nowrap"><%= (row['size_in_mb'].to_i / 1024.0).round(2) %></td>
            <td>
              <% if row['sort_keys'].present? %>
                  <%= row['sort_keys'].collect{|k|
                    "<span class='label label-#{(k == row['sort_keys'].first ? 'primary' : 'info')}'>#{k}</span>"
                  }.join('<br />') %>
              <% else %>
                  <span class="label label-danger">None!</span>
              <% end %>
            </td>
            <td>
              <% if row['dist_key'].present? %>
                  <% if row['dist_key'] == row['sort_keys'].first %>
                      <span class='label label-primary'><%= h row['dist_key'] %></span>
                  <% else %>
                      <span class='label label-default'><%= h row['dist_key'] %></span>
                  <% end %>
              <% else %>
                  <% if row['dist_style'].present? %>
                      <span class='label label-info'><%= h row['dist_style'] %> distribution</span>
                  <% else %>
                      <span class="label label-danger">unknown distribution</span>
                  <% end %>
              <% end %>
              <br />
            </td>
            <td>
              <% if row['has_col_encodings'] %>
                  <span class='label label-success'>Yes</span>
              <% else %>
                  <span class="label label-danger">No</span>
              <% end %>
            </td>
            <td><%= row['created_at'].strftime('%m/%d/%y %H:%M %p') %></td>
            <td class="text-center">
              <button type="button" id="restore_button_<%= i %>" class="btn btn-success btn-xs"
                      data-toggle="modal" data-target="#restore_modal" data-schema-name="<%= row['schema_name'] %>"
                      data-table-name="<%= row['table_name'] %>" data-bucket="<%= row['archive_bucket'] %>"
                      data-prefix="<%= row['archive_prefix'] %>">Restore
              </button>
            </td>
          </tr >
      <% end %>
      </tbody>
    </table>
  </div>
</div>

<%= js :tables %>
