<h2 name="tables" id="tables">Tables</h2>

<table data-auto="true" style="display: none;" class="table table-bordered table-striped table-condensed table-hover">
  <thead>
    <tr>
      <th>Schema</th>
      <th>Table <small class="secondary">(table ID)</small></th>
      <th>Size in GB</th>
      <th>Sort Keys</th>
      <th>Distribution Key</th>
      <th>Column Encoding</th>
      <th>% Skew Across Slices <small class="secondary">(lower better)</small></th>
      <th>% Slices Populated <small class="secondary">(higher better)</small</th>
    </tr>
  </thead>
  <tbody>
  <% @tables.each do |row| %>
    <tr>
      <td><%= row['schema_name'] %></td>
      <td><%= row['table_name'] %> <small class="secondary">(<%=row['table_id']%>)</small></td>
      <td nowrap="nowrap"><%= (row['size_in_mb'].to_i / 1000.0).round(2) %></td>
      <td>
        <% if row['sort_keys'].present? %>
          <%= row['sort_keys'].collect{|k|
                "<span class='label label-#{(k == row['sort_keys'].first ? 'primary' : 'info')}'>#{k}</span>"
              }.join(', ') %>
        <% else %>
          <span class="label label-danger">None!</span>
        <% end %>
      </td>
      <td>
        <% if row['dist_key'].present? %>
          <% if row['dist_key'] == row['sort_keys'].first %>
            <span class='label label-primary'><%= h row['dist_key'] %></span>
          <% else %>
            <span class='label label-default'><%= h row['dist_key'] %></span>
          <% end %>
        <% else %>
          <span class="label label-danger">None!</span>
        <% end %>
      </td>
      <td>
        <% if row['has_col_encodings'] %>
          <span class='label label-success'>Yes</span>
        <% else %>
          <span class="label label-danger">No</span>
        <% end %>
      </td>
      <td>
        <span class='label label-<%= row['pct_skew_across_slices'].to_f > 100.0 ? 'danger' : 'success' %>'><%= 
          h number_with_precision(row['pct_skew_across_slices'].round(2), :precision=> 1) %>%</span>
      </td>
      <td>
        <span class='label label-<%= row['pct_slices_populated'].to_f < 50.0 ? 'danger' : 'success' %>'>
      <%= h row['pct_slices_populated'].round(2) %></td>
    </tr >
  <% end %>
  </tbody>
</table>






