<h2 name="tables" id="tables">Tables</h2>

<table class="table table-striped">

  <tr>
    <th> Schema </th>
    <th> Table </th>
    <th> Size in MB </th>
    <th> Sort Key </th>
    <th> Distribution Key </th>
    <th> Column Encoding </th>
    <th> Pct Skew Across Slices </th>
    <th> Pct Slices Populated </th>
    </tr>
  <% @tables.each do |row| %>
    <tr>
      <td><%= h row['schema'] %></td>
      <td><%= h row['table'] %><p></p><small>(<%=row['tableid']%>)</small></td>
      <td><%= h row['size_in_mb'] %></td>
      <td><%= h row['sort_key_1']%><%= row['sort_key_2'] ? ', ' : '' %><%= row['sort_key_2']%><%= row['sort_key_3'] ? ', ' : '' %><%= row['sort_key_3']%></td>
      <td><%= h row['dist_key'] %></td>
      <td><%= h row['has_col_encoding']=='1' ? 'yes' : 'no'%></td>
      <td><%= h number_with_precision(row['pct_skew_across_slices'], :precision=> 2) %></td>
      <td><%= h row['pct_slices_populated'] %></td>
    </tr >
  <% end %>
</table>
